* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.home-bg {
  width: 100%;
  height: 100vh;
  background-image: url("../public/images/goldenDragon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}
